<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Searching</title>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/socket.io-client/socket.io.js"></script>
	<script src="lib/angular-socket-io/socket.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">

	<style>
		footer{
			border:2px solid grey; padding:8px;
		}
	</style>	

</head>
<body ng-controller="mainCtrl">

	<center>
		<h1>Information's Person</h1>
		<a href="index.html">Back to Homepage</a><br><br>

		<footer>
		<p><h3>Filter : <input type="text" id="ID_search" name="ID_search" placeholder="Student-ID" ng-model="ID_search.StudentID"><br><br></h3></p>
		<button type="button" ng-click="ID_searching()">Search</button></h3></p></center>
		</footer>

	</center>

	<table id="table1"class="table table-striped">
		<thead>
			<th><span class="label label-primary">RFID</span></th>
			<th><span class="label label-primary">Name</span></th>
			<th><span class="label label-primary">StudentID</span></th>
		</thead>
		<tbody>
			<tr ng-repeat="log in ID_searchAll">
				<td>{{log.RFID}}</td>
				<td>{{log.Name}}</td>
				<td>{{log.StudentID}}</td>
			</tr>
		</tbody>
	</table>

	<style>
		footer{border:1px solid grey; padding:8px;}
	</style>	

</body>
</html>