<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app = "myApp">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
     <script type="text/javascript" src="../lib/angular/angular.js"></script>
    <script type="text/javascript" src="../lib/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="../lib/angular-socket-io/socket.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script src="../lib/angular-md5/angular-md5.js"></script>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body ng-controller="mainCtrl">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Binary admin</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Hello World !! &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Good luck !!</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
                    </li>
                      <li>
                        <a  href="admin.html"><i class="fa fa-desktop fa-3x"></i> Create account</a>
                    </li>
                    <li>
                        <a  class="active-menu" href="editaccount.html"><i class="fa fa-qrcode fa-3x"></i> Edit account</a>
                    </li>
                </ul>
            </div>
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Edit account</h2>   
                        <h5>Welcome Admintrator , Love to see you back. </h5>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
                                 
            <div class="row">
                <div class="col-md-4 col-sm-4">
                        <div class="panel-body">
                            Student ID : <input type="text" id="ID_search" name="ID_search" placeholder="Student-ID" ng-model="ID_search.StudentID"> <button type="button" ng-click="ID_searching()" class="btn btn-danger">Search</button>
                                <table id="table1"class="table table-striped">
                                <thead>
                                    <th><span class="label label-danger">RFID</span></th>
                                    <th><span class="label label-danger">StudentID</span></th>
                                    <th><span class="label label-danger">First Name</span></th>

                                    <th><span class="label label-danger">Role</span></th>
                                    <th><span class="label label-danger">Late</span></th>
                                    <th><span class="label label-danger">All</span></th>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="person in person_searchAll">
                                        <td><input type = "text" ng-model = "selectedModel.RFID" ng-init = "selectedModel.RFID=person.RFID"></td>
                                        <td><input type = "text" ng-model = "selectedModel.StudentID" ng-init = "selectedModel.StudentID=person.StudentID"></td>
                                        <td><input type = "text" ng-model = "selectedModel.First_Name" ng-init = "selectedModel.First_Name=person.First_Name"></td>
                                        <td><input type = "text" ng-model = "selectedModel.Role" ng-init = "selectedModel.Role=person.Role"></td>
                                        <td><input type = "text" ng-model = "selectedModel.late" ng-init = "selectedModel.late=person.late"></td>
                                        <td><input type = "text" ng-model = "selectedModel.all" ng-init = "selectedModel.all=person.all"></td>

                                    </tr>
                                </tbody>
                            </table>
                            <br><button type="button" class="btn btn-danger" ng-click="edituser()">Edit</button></h3></p>

                </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
